@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-wrapper a {
    color: white !important;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.875rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}
p {
    font-size: 1rem;
    /*padding: 10px 0 10px 0;*/
}
ul, ol {
    font-size: 1rem;
    /*padding: 10px 0 10px 0;*/
}
p a {
    color: #3b82f6;
}
p a:hover {
    color: #2563eb;
    text-decoration: underline;
}
blockquote {
    font-size: 1rem;
    padding: 20px 0 20px 20px;
    background-color: rgb(241, 241, 241);
    border: rgb(32, 36, 162);
    border-width: 0 0 0 4px;
    border-style: solid;
    border-radius: 0.5rem;
    margin: 10px 0 10px 20px;
}
